---
import Layout from "../layouts/Layout.astro"
import Sidebar from "../components/Sidebar.astro"
import LoremText from "../components/LoremText.astro"
---

<Layout>
    <main class="p-5">
        <LoremText />
    </main>
    <Sidebar bgColor="bg-purple-600"/>
</Layout>