---
import Layout from "../layouts/Layout.astro"
import Sidebar from "../components/Sidebar.astro"
import LoremText from "../components/LoremText.astro"
---

<Layout flexReverse="flex-row-reverse">
    <main class="p-5">
        <LoremText />
    </main>
    <Sidebar bgColor="bg-teal-500"/>
</Layout>

<style>
    body {
		grid-template-columns: 0 3fr 1fr;
		grid-template-rows: min-content 1fr;
		grid-template-areas:
			"header header header"
			"nav main sidebar"
		;
	}

	body.show-menu {
		grid-template-columns: 15rem 3fr 1fr;
	}

	@media (width < 48rem) {
		body {
			/* background-color: red; */

			grid-template-columns: 1fr;
			grid-template-rows: min-content 0 1fr 18.75rem;
			grid-template-areas:
				"header"
				"nav"
				"main"
				"sidebar"
			;
	}

	body.show-menu {
		grid-template-columns: 1fr;
		grid-template-rows: min-content 20rem 1fr 18.75rem;
	}
	}
</style>