---
const {link, id} = Astro.props
---

<a class="
font-medium bg-blue-900 w-40 rounded-3xl py-2 px-4 text-center
relative overflow-hidden z-10 transition-colors hover:text-blue-900
"
 id={id} href={link}>
    <slot />
</a>

<style>
    a {
        &::before {
            content: "";
            @apply opacity-100 w-full h-full bg-white transition-all
            duration-300 absolute top-0 right-full -z-10;
        }

        &:not(:active):hover::before {
            opacity: 1;
            transform: translateX(100%);
        }
    }
</style>