---
import MenuIcon from "./MenuIcon.astro"

const pageLogo = "/web-logo.webp"
---

<header class="
py-2 px-8 h-20 bg-blue-900 text-gray-50
flex justify-between items-center
">
    <img class="object-contain h-full hover:saturate-200" src={pageLogo} alt="" />
    <h1 class="text-3xl font-semibold">Proyecto Web Responsive 01</h1>
    <MenuIcon />
</header>

<style>
    header {
        grid-area: header;
    }
</style>
