---
import MenuIcon from "./MenuIcon.astro"

const pageLogo = "/web-logo.webp"
---

<header class="px-3 md:px-10 h-20 bg-blue-900 text-gray-50 sticky top-0
flex justify-between items-center
">
    <img class="aspect-auto w-16 md:w-20 hover:saturate-200" src={pageLogo} alt="" />
    <h1 class="text-xl md:text-3xl font-semibold">Proyecto Web Responsive 01</h1>
    <MenuIcon />
</header>

<style>
    header {
        grid-area: header;
    }
</style>

<script>
    const menuIcon = document.getElementById('menu-icon')
    menuIcon?.addEventListener('click', toggleMenu)
    function toggleMenu () {
        document.body.classList.toggle('show-menu')
}
</script>
