---

---

<aside class="bg-orange-500 sticky top-20 flex items-center justify-center">
    <h3 class="text-center text-semibold text-3xl">Esto es un sidebar</h3>
</aside>

<style>
    aside {
        grid-area: sidebar;
        max-height: calc(100dvh - 80px);
    }
</style>