---
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body class="
	min-h-dvh overflow-x-hidden
	grid
	">
		<Header />
		<slot />
	</body>
</html>

<style>
	body {
		display: grid;
		grid-template-columns: 1fr 0;
		grid-template-rows: min-content 1fr;
		grid-template-areas:
			"header header"
			"main nav"
		;
		transition: all .4s ease;
	}

	body.show-menu {
		grid-template-columns: 1fr 15rem;
	}

	@media (width < 48rem) {
		body {
			/* background-color: red; */

			grid-template-columns: 1fr;
			grid-template-rows: min-content 0 1fr;
			grid-template-areas:
				"header"
				"nav"
				"main"
			;
	}

	body.show-menu {
		grid-template-columns: 1fr;
		grid-template-rows: min-content 20rem 1fr;
	}
	}
</style>